<!-- Footer: 1) working hours/map strip  2) widgets (about, links, contact, newsletter, clients, tags)  3) copyright bar -->
<footer class="custom-footer">
  <div class="container">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1460991689779" id="vc_row-68b065aa9dac9">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1460991618282">
          <div class="wpb_wrapper">
            <div class="fullwidth-block clearfix" id="fullwidth-block-68b065aa9db37" style="">
              <div class="fullwidth-block-inner">
                <div class="gem-map-with-text">
                  <div
                    class="gem-map-with-text-content"
                    style="background-color: rgba(39, 189, 208, 0.78)"
                  >
                    <div class="container">
                      <div class="clearboth"></div>
                      <div class="gem-divider" style="margin-top: 30px"></div>
                      <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div class="gem-icon-with-text gem-icon-with-text-icon-size-large">
                                <div
                                  class="gem-icon-with-text-icon"
                                  style="margin-bottom: 0px; padding-right: 30px; margin-top: 0px"
                                >
                                  <div
                                    class="gem-icon gem-icon-pack-material gem-icon-size-large gem-icon-shape-square gem-simple-icon"
                                    style="opacity: 1"
                                  >
                                    <div class="gem-icon-inner" style="">
                                      <span class="gem-icon-half-1" style="color: #ffffff"
                                        ><span class="back-angle"></span></span
                                      ><span class="gem-icon-half-2" style="color: #ffffff"
                                        ><span class="back-angle"></span></span
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="gem-icon-with-text-content">
                                  <div class="gem-icon-with-text-text">
                                    <div class="wpb_text_column wpb_content_element">
                                      <div class="wpb_wrapper">
                                        <div class="title-h4">
                                          <span style="color: #3c3950">working hours</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element">
                                      <div class="wpb_wrapper">
                                        <p>
                                          <span style="color: #ffffff"
                                            >Monday – Friday: 8:00 – 16:30 Hrs (Phone until 17:30
                                            Hrs)</span
                                          ><br />
                                          <span style="color: #ffffff"
                                            >Saturday: 8:00 – 18:30 Hrs</span
                                          ><br />
                                          <span style="color: #ffffff"
                                            >Sunday: 11:00 – 15:00 Hrs (Phone until 16:30 Hrs)</span
                                          >
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="clearboth"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div class="gem-icon-with-text gem-icon-with-text-icon-size-large">
                                <div
                                  class="gem-icon-with-text-icon"
                                  style="margin-bottom: 0px; padding-right: 30px; margin-top: 0px"
                                >
                                  <div
                                    class="gem-icon gem-icon-pack-material gem-icon-size-large gem-icon-shape-square gem-simple-icon"
                                    style="opacity: 1"
                                  >
                                    <div class="gem-icon-inner" style="">
                                      <span class="gem-icon-half-1" style="color: #ffffff"
                                        ><span class="back-angle"></span></span
                                      ><span class="gem-icon-half-2" style="color: #ffffff"
                                        ><span class="back-angle"></span></span
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="gem-icon-with-text-content">
                                  <div class="gem-icon-with-text-text">
                                    <div class="wpb_text_column wpb_content_element">
                                      <div class="wpb_wrapper">
                                        <div class="title-h4">
                                          <span style="color: #3c3950">we are here</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element">
                                      <div class="wpb_wrapper">
                                        <p>
                                          <span style="color: #ffffff"
                                            >Beechwood Dr, Lawrence, NY 11559, USA </span
                                          ><br />
                                          <span style="color: #ffffff"
                                            >Phone: +1 916-875-2235, Fax: +1 916-875-0000 </span
                                          ><br />
                                          <span style="color: #ffffff"
                                            >Email: info&#64;domain.tld</span
                                          >
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="clearboth"></div>
                              </div>
                              <div class="clearboth"></div>
                              <div class="gem-divider" style="margin-top: 12px"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gem-map-with-text-map grayscale">
                    <div class="wpb_gmaps_widget wpb_content_element">
                      <div class="wpb_wrapper">
                        <div class="wpb_map_wraper">
                          <iframe
                            height="911"
                            loading="lazy"
                            src="https://www.google.com/maps/d/embed?mid=1Ctz90X1X74lxVBio5mJzx84KT1d_wYOK"
                            style="pointer-events: none"
                            width="640"
                          ></iframe
                          ><a (click)="$event.preventDefault()" class="map-locker" href="#"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="site-footer" id="colophon" role="contentinfo">
  <div class="container">
    <div class="row inline-row footer-widget-area" role="complementary">
      <div class="widget inline-column col-md-3 col-sm-6 col-xs-12 count-7 widget_text" id="text-2">
        <div class="textwidget">
          <p>
            <img
              loading="lazy"
              src="assets/uploads/2019/09/logo_2x.png"
              style="display: block; margin-bottom: 48px; margin-top: 27px; width: 163px"
            />
          </p>
          <p>
            TheGem is a versatile wp theme with modern creative design. Made as an ultimate toolbox
            of content elements, styles &amp; features, it helps people to build impressive
            high-performant websites. In minutes. Without coding.
          </p>
        </div>
      </div>
      <div class="widget inline-column col-md-3 col-sm-6 col-xs-12 count-7 widget_text" id="text-3">
        <h3 class="widget-title">Useful links</h3>
        <div class="textwidget">
          <ul>
            <li><a (click)="$event.preventDefault()" href="#">General Information For Users</a></li>
            <li><a (click)="$event.preventDefault()" href="#">Interactive Fairy Tales</a></li>
            <li>
              <a (click)="$event.preventDefault()" href="#">Official Storybook Maker Website</a>
            </li>
            <li><a (click)="$event.preventDefault()" href="#">Everyday Mathematics Links</a></li>
            <li>
              <a (click)="$event.preventDefault()" href="#">Basic Knowledge and Experience</a>
            </li>
            <li><a (click)="$event.preventDefault()" href="#">Research Activities Programm</a></li>
          </ul>
        </div>
      </div>
      <div
        class="widget inline-column col-md-3 col-sm-6 col-xs-12 count-7 widget_contacts"
        id="contacts-2"
      >
        <h3 class="widget-title">Contact</h3>
        <div class="gem-contacts">
          <div class="gem-contacts-item gem-contacts-address">
            Address:<br />
            908 New Hampshire Avenue #100, Washington, DC 20037, United States
          </div>
          <div class="gem-contacts-item gem-contacts-phone">
            Phone: <a href="tel:+1 916-875-2235">+1 916-875-2235</a>
          </div>
          <div class="gem-contacts-item gem-contacts-fax">Fax: +1 916-875-2235</div>
          <div class="gem-contacts-item gem-contacts-email">
            Email: <a href="mailto:info@domain.tld">info&#64;domain.tld</a>
          </div>
          <div class="gem-contacts-item gem-contacts-website">
            Website: <a href="http://www.codex-themes.com">www.codex-themes.com</a>
          </div>
        </div>
      </div>
      <div
        class="widget inline-column col-md-3 col-sm-6 col-xs-12 count-7 widget_mc4wp_form_widget"
        id="mc4wp_form_widget-2"
      >
        <h3 class="widget-title">Newsletter</h3>
        <form class="mc4wp-form" (submit)="subscribe($event)">
          <div class="mc4wp-form-fields">
            <p>
              Subscribe to our newsletter and stay up to date with all events coming straight in
              your mailbox:
            </p>
            <p class="mc-form">
              <input
                name="EMAIL"
                placeholder="Your email address"
                required
                type="email"
                [formControl]="email"
              />
              <input type="submit" value="" />
            </p>
            <p class="mc-text small-body"><span>*</span> Personal data will be encrypted</p>
          </div>
          @if (subscribed()) {
            <div class="mc4wp-response">
              <div class="mc4wp-alert mc4wp-success">
                <p>Thank you, your sign-up request was successful!</p>
              </div>
            </div>
          }
        </form>
      </div>
      <div
        class="widget inline-column col-md-3 col-sm-6 col-xs-12 count-7 widget_thegem_clients"
        id="the_gem_widget_clients-2"
      >
        <h3 class="widget-title">Clients</h3>
        <div
          class="gem-clients gem-clients-type-carousel-grid carousel-disabled lazy-loading"
          data-autoscroll="0"
          data-ll-item-delay="0"
        >
          <div class="gem-clients-slide">
            <div class="gem-clients-slide-inner clearfix">
              <div
                class="gem-client-item lazy-loading-item post-424 thegem_client type-thegem_client status-publish has-post-thumbnail"
                data-ll-effect="drop-bottom"
                id="post-424"
              >
                <a (click)="$event.preventDefault()" class="gscale" href="#" target="_blank">
                  <img
                    alt="Client 1"
                    class="img-responsive"
                    loading="lazy"
                    src="assets/uploads/2019/09/20-thegem-widget-column-1x.png"
                    srcset="assets/uploads/2019/09/20-thegem-widget-column-2x.png 2x"
                    width="80"
                  />
                </a>
              </div>
              <div
                class="gem-client-item lazy-loading-item post-507 thegem_client type-thegem_client status-publish has-post-thumbnail"
                data-ll-effect="drop-bottom"
                id="post-507"
              >
                <a (click)="$event.preventDefault()" class="gscale" href="#" target="_blank">
                  <img
                    alt="Client 2"
                    class="img-responsive"
                    loading="lazy"
                    src="assets/uploads/2019/09/17-thegem-widget-column-1x.png"
                    srcset="assets/uploads/2019/09/17-thegem-widget-column-2x.png 2x"
                    width="80"
                  />
                </a>
              </div>
              <div
                class="gem-client-item lazy-loading-item post-508 thegem_client type-thegem_client status-publish has-post-thumbnail"
                data-ll-effect="drop-bottom"
                id="post-508"
              >
                <a (click)="$event.preventDefault()" class="gscale" href="#" target="_blank">
                  <img
                    alt="Client 3"
                    class="img-responsive"
                    loading="lazy"
                    src="assets/uploads/2019/09/19-thegem-widget-column-1x.png"
                    srcset="assets/uploads/2019/09/19-thegem-widget-column-2x.png 2x"
                    width="80"
                  />
                </a>
              </div>
              <div
                class="gem-client-item lazy-loading-item post-509 thegem_client type-thegem_client status-publish has-post-thumbnail"
                data-ll-effect="drop-bottom"
                id="post-509"
              >
                <a (click)="$event.preventDefault()" class="gscale" href="#" target="_blank">
                  <img
                    alt="Client 4"
                    class="img-responsive"
                    loading="lazy"
                    src="assets/uploads/2019/09/18-thegem-widget-column-1x.png"
                    srcset="assets/uploads/2019/09/18-thegem-widget-column-2x.png 2x"
                    width="80"
                  />
                </a>
              </div>
              <div
                class="gem-client-item lazy-loading-item post-510 thegem_client type-thegem_client status-publish has-post-thumbnail"
                data-ll-effect="drop-bottom"
                id="post-510"
              >
                <a (click)="$event.preventDefault()" class="gscale" href="#" target="_blank">
                  <img
                    alt="Client 5"
                    class="img-responsive"
                    loading="lazy"
                    src="assets/uploads/2019/09/16-thegem-widget-column-1x.png"
                    srcset="assets/uploads/2019/09/16-thegem-widget-column-2x.png 2x"
                    width="80"
                  />
                </a>
              </div>
              <div
                class="gem-client-item lazy-loading-item post-511 thegem_client type-thegem_client status-publish has-post-thumbnail"
                data-ll-effect="drop-bottom"
                id="post-511"
              >
                <a (click)="$event.preventDefault()" class="gscale" href="#" target="_blank">
                  <img
                    alt="Client 6"
                    class="img-responsive"
                    loading="lazy"
                    src="assets/uploads/2019/09/15-thegem-widget-column-1x.png"
                    srcset="assets/uploads/2019/09/15-thegem-widget-column-2x.png 2x"
                    width="80"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="widget inline-column col-md-3 col-sm-6 col-xs-12 count-7 widget_tag_cloud"
        id="tag_cloud-2"
      >
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
          <a
            aria-label="artists (1 item)"
            class="tag-cloud-link tag-link-46 tag-link-position-1"
            routerLink="/blog"
            style="font-size: 12px"
            >artists</a
          >
          <a
            aria-label="branding (1 item)"
            class="tag-cloud-link tag-link-42 tag-link-position-2"
            routerLink="/blog"
            style="font-size: 12px"
            >branding</a
          >
          <a
            aria-label="colors (9 items)"
            class="tag-cloud-link tag-link-31 tag-link-position-3"
            routerLink="/blog"
            style="font-size: 30px"
            >colors</a
          >
          <a
            aria-label="design (9 items)"
            class="tag-cloud-link tag-link-28 tag-link-position-4"
            routerLink="/blog"
            style="font-size: 30px"
            >design</a
          >
          <a
            aria-label="developing (1 item)"
            class="tag-cloud-link tag-link-45 tag-link-position-5"
            routerLink="/blog"
            style="font-size: 12px"
            >developing</a
          >
          <a
            aria-label="future (9 items)"
            class="tag-cloud-link tag-link-30 tag-link-position-6"
            routerLink="/blog"
            style="font-size: 30px"
            >future</a
          >
          <a
            aria-label="items (1 item)"
            class="tag-cloud-link tag-link-43 tag-link-position-7"
            routerLink="/blog"
            style="font-size: 12px"
            >items</a
          >
          <a
            aria-label="marketing (9 items)"
            class="tag-cloud-link tag-link-26 tag-link-position-8"
            routerLink="/blog"
            style="font-size: 30px"
            >marketing</a
          >
          <a
            aria-label="news (9 items)"
            class="tag-cloud-link tag-link-27 tag-link-position-9"
            routerLink="/blog"
            style="font-size: 30px"
            >news</a
          >
          <a
            aria-label="people (9 items)"
            class="tag-cloud-link tag-link-29 tag-link-position-10"
            routerLink="/blog"
            style="font-size: 30px"
            >people</a
          >
          <a
            aria-label="testing (1 item)"
            class="tag-cloud-link tag-link-44 tag-link-position-11"
            routerLink="/blog"
            style="font-size: 12px"
            >testing</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="site-footer" id="footer-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-push-9">
        <div id="footer-socials">
          <div class="socials inline-inside socials-colored">
            <a
              (click)="$event.preventDefault()"
              class="socials-item"
              href="#"
              target="_blank"
              title="Facebook"
              ><i class="socials-item-icon facebook"></i
            ></a>
            <a
              (click)="$event.preventDefault()"
              class="socials-item"
              href="#"
              target="_blank"
              title="LinkedIn"
              ><i class="socials-item-icon linkedin"></i
            ></a>
            <a
              (click)="$event.preventDefault()"
              class="socials-item"
              href="#"
              target="_blank"
              title="Twitter"
              ><i class="socials-item-icon twitter"></i
            ></a>
            <a
              (click)="$event.preventDefault()"
              class="socials-item"
              href="#"
              target="_blank"
              title="Instagram"
              ><i class="socials-item-icon instagram"></i
            ></a>
            <a
              (click)="$event.preventDefault()"
              class="socials-item"
              href="#"
              target="_blank"
              title="Pinterest"
              ><i class="socials-item-icon pinterest"></i
            ></a>
            <a
              (click)="$event.preventDefault()"
              class="socials-item"
              href="#"
              target="_blank"
              title="YouTube"
              ><i class="socials-item-icon youtube"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <nav
          class="site-navigation footer-navigation centered-box"
          id="footer-navigation"
          role="navigation"
        >
          <ul class="nav-menu styled clearfix inline-inside" id="footer-menu">
            <li
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-681"
              id="menu-item-681"
            >
              <a (click)="$event.preventDefault()" href="#">Support</a>
            </li>
            <li
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-680"
              id="menu-item-680"
            >
              <a (click)="$event.preventDefault()" href="#">Contact Us</a>
            </li>
            <li
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-682"
              id="menu-item-682"
            >
              <a (click)="$event.preventDefault()" href="#">Disclaimer</a>
            </li>
            <li
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683"
              id="menu-item-683"
            >
              <a (click)="$event.preventDefault()" href="#">Privacy Policy</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3 col-md-pull-9">
        <div class="footer-site-info">© Copyrights CodexThemes</div>
      </div>
    </div>
  </div>
</footer>
